main {
  flex-grow: 1;
}
section {
  display: block;
}
.hero {
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  padding-bottom: 15.4rem;
}
.container {
}
.hero__image {
}
.hero__content {
  width: 100%;
  max-width: 734px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero__title {
  margin-bottom: 3.2rem;
}
.hero__desc__wrapper {
  width: 100%;
  max-width: 589px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}

.about__container {
  width: 900px;
  padding-bottom: 14rem;
}
.about__list {
  text-align: center;
  display: flex;
  gap: 14.7rem;
  li {
    padding-bottom: 8rem;
  }
}
.about__img {
  margin-right: auto;
  margin-left: auto;
}
.about__title {
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.about {
  color: #fff;
  text-align: center;
  font-family: Open "Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  text-align: center;
}
.services {
}
.services__container {
  display: flex;
  align-items: center;
  gap: 5.7rem;
  padding-bottom: 17.9rem;
}
.container {
}
.services__image {
}
.services__desc {
}
.services__title {
  font-weight: 700;
  padding-bottom: 1.9rem;
  width: 506px;
  font-family: "Raleway" sans-serif;
}
.services__content {
  padding-bottom: 1.6rem;
}
.services__team {
  padding-top: 2.4rem;
  color: #62e0d9;
  text-decoration: underline;

  &:hover {
    color: $white-color;
    text-decoration: underline;
  }
}
@media screen and (max-width: 700px) {
  .hero__image {
    width: 304px;
    height: 225px;
    padding-top: 48px;
    padding-right: 3.6rem;
    padding-left: 33px;
  }
  .hero__title {
    width: 320px;
    line-height: 1.5;
    font-weight: 700;
    font-size: 2.4rem;
    padding-right: 2.8rem;
  }
  .hero__desc__wrapper {
    width: 296px;
    font-size: 1.4rem;
    padding-bottom: 4.8rem;
  }
  .about__container {
    padding-bottom: 10rem;
    width: 330px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    align-items: center;
  }
  .about__list {
    gap: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    li {
      padding-bottom: 8rem;
      width: 100%;
      max-width: 320px;
    }
  }
  .services__container {
    padding-bottom: 4.8rem;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
  }
  .services__image {
    width: 100%;
    width: 304px;
    object-fit: cover;
  }
  .services__desc {
  }
  .services__title {
    width: 290px;
    font-size: 1.6rem;
    line-height: 13.3;
  }
  .services__content {
    font-size: 1.4rem;
    width: 320px;
  }
 
}
