.btn {
  background: linear-gradient(146deg, #63e1d9 0%, #34a0cd 100%);
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  padding: 15px 95px 16px 96px;
  color: #fff;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;

  & :hover {
    background: #8adae3;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  }
}

@media screen and (max-width: 700px) {
  .btn {
    flex-shrink: 0;
    color: #fff;
    padding: 16px 81px 16px 81px;
    font-family: "Raleway";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
